@charset "UTF-8";
/*ESTILO PARA IMPRESSORA*/

html {
    font: normal 1.5em 'Courier New', Courier, monospace;
    line-height: 1.3em;
}

menu {
    display: none;
}

article::after {
    content: 'abcdefghijklmnopqrstuvwxyz';
}